
<div class="container">
    <div class="row">
        <h4>Balance: </h4><h4 [ngStyle]="{'color': this.balance < 0 ? 'red' : 'green'}"> {{ this.balance | currency}} </h4>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Concept</th>
                <th>Date</th>
                <th>Amount</th>
                <th colspan="2"><button class="button-primary" routerLink="/new">NEW</button></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operation of this.list">
                <td *ngIf="operation.type" style="color: green;">&rarr; IN</td>
                <td *ngIf="!operation.type" style="color: red;">&larr; OUT</td>
                <td> {{ operation.concept }} </td>
                <td> {{ operation.createdAt | date }} </td>
                <td> {{ operation.amount | currency }} </td>
                <td><button (click)="editOperation(operation)">EDIT</button></td>
                <td><button (click)="deleteOperation(operation.id)">DELETE</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>