<div class="container">
<div class="row">
    <h4 *ngIf="!this.updating">Add New Operation</h4>
    <h4 *ngIf="this.updating">Edit Operation</h4>
</div>
<div class="row">
    
    <form #operationForm="ngForm" (ngSubmit)="handleSubmit(operationForm.value)">
        <!-- <pre>{{ operationForm.value | json }}</pre> -->
        <input type="number" hidden name="id" [ngModel]="this.id">
        <label for="type">Type:</label>
        <select name="type" id="type" [ngModel]="this.type" required [disabled]="this.updating">
            <option value="false">Outcome</option>
            <option value="true">Income</option>
        </select>

        <label for="concept">Concept:</label>
        <input type="text" name="concept" [ngModel]="this.concept" required>

        <label for="amount">Amount</label>
        <input type="number" name="amount" [ngModel]="this.amount" required>

        <div class="row">
            <button routerLink='' type="button">GO BACK</button>
            <button class="button-primary">SUBMIT</button>
        </div>
    </form>
</div>
</div>
